<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="KeqingNiuza.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="dll"/>
		</assemblyBinding>
	</runtime>
 <userSettings>
  <KeqingNiuza.Properties.Settings>
   <setting name="IsWindowMaximized" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="IsAutoUpdate" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="IsCorrectOrder" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="IsUpdateShowResult" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="IsLogonTrigger" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="IsGenshinStartTrigger" serializeAs="String">
    <value>False</value>
   </setting>
  </KeqingNiuza.Properties.Settings>
 </userSettings>
</configuration>