<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="KeqingNiuza.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<userSettings>
		<KeqingNiuza.Properties.Settings>
   <setting name="IsWindowMaximized" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="IsCorrectOrder" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="IsLogonTrigger" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="IsGenshinStartTrigger" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="IsOversea" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DialyCheck_AlwaysShowResult" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DailyCheck_IsAutoCheckIn" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DailyCheck_StartTime" serializeAs="String">
    <value>01/01/1970 06:00:00</value>
   </setting>
   <setting name="DailyCheck_RandomDelay" serializeAs="String">
    <value>02:00:00</value>
   </setting>
  </KeqingNiuza.Properties.Settings>
	</userSettings>
</configuration>